body {
  width: 100%;
  height: 250vh;
  background: url(https://i.pinimg.com/originals/88/37/a6/8837a69bcf30bd8a428f9b6bb9d22e48.jpg);
  background-size: cover;
  font-family: "Times New Roman";
  margin: 0;
  padding: 0;
}
h5 {
  margin: 0;
  font-size: 20px;
}
h6 {
  margin: 0;
}
section {
  height: 250vh;
  margin: 40px 60px 40px 60px;
  /* border: 1px solid black; */
}
.header-container {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
}

.header__sub-title {
  padding-top: 10px;
  text-align: center;
  padding: 20px 0 10px 0;
}
.header__sub-title h4 {
  font-weight: 900;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 900;
  margin: 0;
  border-bottom: black 5px solid;
}
.header__title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__title h1 {
  font-size: 51px;
  letter-spacing: 10px;
  margin: 0;
  padding: 0;
  font-weight: 900;
  border-bottom: black 5px solid;
  text-shadow: -4px 4px 0px rgba(92, 92, 91, 0.9);
}
.header__title h2 {
  font-size: 51px;
  letter-spacing: 3px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  border-bottom: black 5px solid;
  text-shadow: -4px 4px 0px rgba(92, 92, 91, 0.9);
}
.header-center {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.header-center img {
  width: 130px;
}
.header-menu {
  width: 100%;
  height: 50px;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  display: grid;
  grid-template-columns: 21% 53% 8% 9% 9%;
  grid-template-rows: 1fr;
}
.header-menu--since,
.header-menu--day,
.header-menu--antepe,
.header-menu--penul,
.header-menu--ulti {
  border-left: 1px solid black;
  border-right: 1px solid black;
  margin: 5px 0 5px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-menu--since {
  grid-column: 1/2;
  border-left: 2px solid black;
}
.header-menu--since h5 {
  font-size: 15px;
}
.header-menu--day {
  margin: 0;
  grid-column: 2/3;
  justify-content: space-evenly;
  align-items: center;
  border: none;
}
.header-menu--antepe {
  grid-column: 3/4;
}
.header-menu--penul {
  grid-column: 4/5;
}
.header-menu--ulti {
  grid-column: 5/6;
}
.header-menu--day1 h5 {
  display: block;
}
main {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 1fr;
  /* border: 1px solid red; */
  width: 100%;
  height: 83%;
  border-bottom: 5px solid black;
}
.column-left,
.column-rigth {
  border-left: 4px solid black;
  border-right: 4px solid black;
  margin: 15px 0 15px 0;
}
/*columna izquierda*/
.column-left {
  grid-column: 1/2;
}
.column-left--feature {
  margin: 0 10px 0 10px;
}
.column-left--feature h2 {
  font-size: 30px;
  margin-bottom: -10px;
  margin: 0;
  text-align: center;
}
.column-left--feature h1 {
  font-size: 50px;
  letter-spacing: 5px;
  font-weight: 900;
  margin: 0;
  text-align: center;
}
.column-left--feature img {
  width: 150px;
  display: block;
  margin: auto;
}
.column-left--feature p:nth-child(4) {
  font-size: 17px;
  font-weight: 900;
}
.column-left--feature p:nth-child(5) {
  font-size: 20px;
}
/*publicidad 1*/
.column-left--advertising-first {
  max-height: 255px;
  margin: 5px;
  border: 3px solid black;
}
.column-left__af--title {
  display: flex;
}
.column-left__af--title img {
  width: 200px;
  transform: rotate(26deg);
  position: relative;
  top: -10px;
  left: -60px;
}
.column-left__af--title h1 {
  font-size: 25px;
  font-weight: 900;
  position: relative;
  margin: 0;
  text-align: right;
  top: 10px;
  right: 70px;
}
.column-left--advertising-first p {
  position: relative;
  top: -75px;
  font-size: 20px;
  text-align: center;
  margin: 0;
}
.column-left--advertising-first h2 {
  font-size: 40px;
  text-align: center;
  margin: 0;
  position: relative;
  top: -60px;
}
/*publicidad 2*/
.column-left--advertising-second {
  margin: 15px 5px 5px 5px;
  border-top: 5px solid black;
  display: flex;
}
.column-left--advertising-second img {
  width: 200px;
  position: relative;
  top: 10px;
  left: -70px;
}
.column-left--advertising-second h1 {
  margin: 0;
  font-size: 30px;
  line-height: 40px;
  position: relative;
  left: -130px;
  top: 10px;
}

/*columna centro*/
.column-center {
  grid-column: 2/3;
}

/*columna derecha*/
.column-rigth {
  grid-column: 3/4;
}
.column-rigth1 {
  margin: 5px;
  border-bottom: 5px solid black;
  text-align: center;
}
.column-rigth1 h1 {
  font-size: 40px;
  margin: 0;
}
.column-rigth1 p {
  font-size: 18px;
}
.column-rigth2 {
  margin: 5px;
  border-bottom: 5px solid black;
  text-align: center;
}
.column-rigth2 h1 {
  font-size: 40px;
  margin: 10px 0 0 0;
}
.column-rigth2 img {
  width: 180px;
  height: 160px;
}
.column-rigth2 p {
  font-size: 18px;
  margin: 0 0 10px 0;
}

.column-rigth3 {
  margin: 5px;
  text-align: center;
}
.column-rigth3 h1{
  font-size: 40px;
  margin: 0 0 0 0 ;
}
.column-rigth3 p {
  font-size: 15px;
  text-align: left;
  margin: 0 0 10px 0 ;
}
.column-rigth3 img{
  width: 200px;
  height: 210px;
}